<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta name="author" content="Bill Paetzke">

        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style>
            body { padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */ }
            .mobile-footer { display: none; }

            @media (max-width: 767px) {
                #add-space-btn { display: none; }
                #search-box { float: left; }
                .mobile-footer { display: block; }
                .container { width: 100%; }
            }
        </style>
        {% block page_style %}{% endblock %}
    </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand active" href="{% url "spaces-home" %}">Coworking Spaces</a>
                <div class="nav-collapse collapse">
                    <ul id="add-space-btn" class="nav">
                        <li><a href="{% url "spaces-new" %}">Add a Space</a></li>
                                           </ul>
                    <form id="search-box" action="{% url "spaces-search" %}" method="GET" autocomplete="off" class="navbar-search pull-right">
                        <input name="q" autocomplete="off" tabindex="1" type="text" value="{% block search_val %}{% endblock %}" placeholder="search locations" class="search-query" />
</form>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">

        {% block content %}{% endblock %}

        <hr class="mobile-footer" />

        <a class="mobile-footer" href="{% url "spaces-new" %}">Add a Space</a>

    </div> <!-- /container -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% block js_init %}{% endblock %}
  </body>
</html>
