{% extends "base.html" %}

{% block title %}Coworking Spaces{% endblock %}

{% block content %}

<div class="text-center">
<h3>Find coworking spaces near</h3>
<form action="{% url "spaces-search" %}" method="GET" autocomplete="off" class="form-search">
    <input name="q" autocomplete="off" tabindex="1" type="text" value="" placeholder="Los Angeles" class="input-xlarge" />
    <button type="submit" class="btn">Search</button>
</form>

<hr/>

<div class="well row-fluid">
    <div class="span4">
        <h2>Americas</h2>
        <p><a href="spaces?q=San+Francisco">San Francisco</a></p>
        <p><a href="spaces?q=New+York+City">New York City</a></p>
        <p><a href="spaces?q=Los+Angeles">Los Angeles</a></p>
        <p><a href="spaces?q=Buenos+Aires">Buenos Aires</a></p>
    </div>
    <div class="span4">
        <h2>Europe</h2>
        <p><a href="spaces?q=London">London</a></p>
        <p><a href="spaces?q=Paris">Paris</a></p>
        <p><a href="spaces?q=Berlin">Berlin</a></p>
        <p><a href="spaces?q=Amsterdam">Amsterdam</a></p>
  </div>
    <div class="span4">
      <h2>Asia</h2>
        <p><a href="spaces?q=Tokyo">Tokyo</a></p>
        <p><a href="spaces?q=Hong+Kong">Hong Kong</a></p>
        <p><a href="spaces?q=Bangkok">Bangkok</a></p>
        <p><a href="spaces?q=Singapore">Singapore</a></p>
    </div>
</div>

</div>

{% endblock %}
