{% extends "base.html" %}
{% block title %}{{ space }}{% endblock %}

{% block content %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      #map-canvas { width: 300px; height: 300px }
    </style>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_key }}&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var pos = new google.maps.LatLng({{ space.lat }}, {{ space.lon }});
        var mapOptions = {
          center: pos,
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);
        var marker = new google.maps.Marker({
            position: pos,
            map: map,
            title: 'Coworking Space'
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
      
    <h1>{{ space }}</h1>

    {% if space.phone %}
    Phone: {{ space.phone }}<br/>
    {% endif %}
    {% if space.email %}
    Email: <a href="mailto:{{ space.email }}">{{ space.email }}</a><br/>
    {% endif %}
    {% if space.url %}
    Site: <a href="{{ space.url }}">{{ space.url }}</a><br/>
    {% endif %}

    <p>{{ space.address }}</p>

    <div id="map-canvas"/>

{% endblock %}
